div {
  margin: 20px;

  position: relative;
  height: 300px;
  width: 185px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  border-radius: 20px;
  background: #00b09b;
  background: linear-gradient(to bottom, #3de2cfd9, #10e26e);

  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  cursor: pointer;

  h5 {
    margin-top: 10px;
    border-radius: 20px;
    padding: 3px 10px;
    font-size: 1.1rem;
    background: rgba(0, 0, 0, 0.2);
    margin-top: 20px;
  }

  h3 {
    margin-top: 20px;
  }

  img {
    margin-top: 20px;
    max-width: 70%;
  }

  &:hover {
    box-shadow: 0 7px 47px rgba(100, 100, 100, 0.5);
  }
}
